/**
 * DatePicker widget using Prototype and Scriptaculous.
 * (c) 2007 Mathieu Jondet <mathieu@eulerian.com>
 * Eulerian Technologies
 *
 * DatePicker is freely distributable under the same terms as Prototype.
 * v0.9.1
 *
 */
div.datepicker {
 position: absolute;
 text-align: center;
 border: 1px #C4D5E3 solid;
 font-family: arial;
}
div.datepicker-header {
 font-size: 12px;
 font-weight: bold;
 background: #e9eff4;
 border-bottom:1px solid #c4d5e3;
 padding: 2px;
}
div.datepicker-footer {
 font-size: 10px;
 background: #e9eff4;
 border-top:1px solid #c4d5e3;
 cursor: pointer;
 text-align: center;
 padding: 2px;
}
div.datepicker-calendar {
 font-size: 10px;
 background:#FFFFFF;
 padding: 2px;
 text-align: center;
}
div.datepicker-calendar table {
 font-size: 10px;
 border: 1px white solid;
 margin: 0px;
 padding: 0px;
 text-align: center;
}
div.datepicker-calendar table tr {
 border: 1px white solid;
 margin: 0px;
 padding: 0px;
}
div.datepicker-calendar table td {
 border: 1px #eaeaea solid;
 margin: 0px;
 padding: 0px;
 text-align: center;
}
div.datepicker-calendar table td:hover,
div.datepicker-calendar table td.outbound:hover,
div.datepicker-calendar table td.today:hover {
 border: 1px #c4d5e3 solid;
 background: #e9eff4;
 cursor: pointer;
}
div.datepicker-calendar table td.wday {
 border: 1px #ffffff solid;
 background: #ffffff;
 cursor: text;
}
div.datepicker-calendar table td.outbound {
 background: #e8e4e4;
}
div.datepicker-calendar table td.today {
 border: 1px #16518e solid;
 background: #c4d5e3;
}

.datepicker-opener-table {
	display: inline;
}

.datepicker-opener {
	background-image: url("/datepicker.gif");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin-left: 4px;
	cursor: pointer;
}
