body {
   background-color: #FFD700;
   color: #6f6f6f;
   font-family: tahoma, helvetica, arial, sans-serif;
   font-size: 11px;
   text-align: center
}

html, body, #wrapper, h1, #nav-top, #nav-top li, #nav-left, #nav-top li {
	margin: 0;
	padding: 0;
	list-style: none;
}

th, td {
	text-align: left;
	font-size: 11px;
}

img { border: 0; }

.formbuttons {
	text-align: center;
	font-size: 11px;
	background-color: #666666;
	background-position: right center;
	color: #FFFFFF;
}

.forminputs {   
	font-size: 11px;
}

.rightAligned { 
	text-align: right;
	font-size: 11px;
}

#wrapper {
	margin: 16px auto;
	text-align: left;
	width: 750px;
	position: relative;
}

h1, h2, h3 {
	font-size: 11px;
}


h1 {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0 0 5px 0;
	padding: 0;
}

h3 {
	padding: 4px 0 0 0;
}

p {
	margin: 1em 0;
	padding: 0;
}

.block {
	display: block;
}

.clear {
	clear: both;
	height: 1px;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1px;
	line-height: 1px;
}

* html .clear {
	margin-top: -5px;
	margin-bottom: -4px;
}

.left {
	float: left;
	margin: 1px 8px 0px 0px;
}

.softright {
	text-align: right;
}

.readmore {
	text-align: right;
}

/* ***** */

#wrapper {
	width: 688px;
}

/* header */

#header {
	background: url(images/ess_header.gif) no-repeat;
	position: relative;
	width: 688px;
	margin-bottom: 11px;
}

#header .bl { height: 157px; }
 
/* the story of two navs */

#nav-top {
	position: absolute;
	top: 9px; left: 378px;
	color: #fff;
}

#nav-top li {
	display: inline;
}

#nav-top a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

#nav-top a:hover {
	  text-decoration: underline;
}

#nav-left {
	position: absolute;
	top: 66px; left: 26px;
}

/* body */

#body {
	background: url(images/body_bg.gif) repeat-y;
}

#body h2 {
	margin: 0 0 1.5em 0;
}

#body h3 {
	margin: 0 0 0 0;
}

#body ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#body li {
	padding: 0;
	margin: 0.8em 0;
}

a {
	color: #ce7210;
}

a:hover {
	color: #6f3f0b;
}

#cap {
	background: url(images/column_cap.gif) no-repeat;
	padding-top: 19px;
	width: 688px;
}

#buy {
	float: left;
	width: 189px;
	margin-left: 12px;
	display: inline;
}

#capabilities {
	float: left;
	width: 225px;
	margin-left: 28px;
}

#capabilities p {
	line-height: 1.5;
}

#capabilities h3 {
	font-size: 10px;
}

#news {
	float: left;
	width: 190px;
	margin-left: 34px;
}

#news h3 {
	font-size: 10px;
}

#news h3 a {
	text-decoration: none;
}

#news p {
	line-height: 1.5;
}

.timed {
	background: #5b96da url(images/support_bg.jpg) no-repeat;
	color: #fff;
	padding: 10px 10px 1.3em 71px;
	margin: 2em 0;
	border-bottom: 1px solid white;
}

.timed .readmore {
	margin-bottom: 0;
}

.timed h3 {
	margin: 0;
	padding: 0;
	text-indent: -57px;
}

.timed a {
	color: #fff;
}

.timed a:hover {
	text-decoration: none;
}

/* footer */

#footer { 
	text-align: center; 
}

#footer div div { padding: 8px 0; } 
 
.white {
	color: #ffffff;
}.inputlabel {
	background-position: left center;
	font-weight: bold;
}
.inputvalue {
	background-position: left center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.formbuttonsCell {
	text-align: right;
	font-size: 11px;
	background-position: right center;
}
.divBox {
	border: thin solid #666666;
}
.tourButtonsCell {

	text-align: center;
	font-size: 11px;
	background-position: right top;
}
.guylabel {
	background-position: left center;
	font-weight: bolder;
	color: #3366CC;
}
.gallabel {
	background-position: left center;
	font-weight: bolder;
	color: #6633CC;
}
.oneofthree {
	height: 30%;
}
.divBoxPodium {
	border: thin solid #666666;
	height: 550px;
	width: 300px;
} 
.infoBar {
	color: #FFCC33;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
} 
.mainBox {
   background-position: center;
   border: thin solid #666666;
   width: 1000px
}


.a_notice {
color: #000000;
}

.a_notice:hover {
color: #666666
}