
<object type="application/x-shockwave-flash" width="400" height="350"

wmode="transparent" data="flvplayer.swf?file=himh/himh336_272.flv&autoStart=false">

<param name="movie" value="flvplayer.swf?file=himh/himh336_272.flv&autoStart=false" />

<param name="wmode" value="transparent" />

</object>

