.white_large_label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	color:#FFFFFF;
}
.white_label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	color:#FFFFFF;
}
.white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color:#FFFFFF;
} 
.dark_header {
   border-bottom-color: #330000;
   border-bottom-style: dashed;
   border-left-color: #330000;
   border-left-style: dashed;
   border-right-color: #330000;
   border-right-style: dashed;
   border-top-color: #330000;
   border-top-style: dashed;
   color: #383838;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 18px;
   font-variant: normal;
   font-weight: bolder; 
   text-align: center
}
.dark_label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	color:#383838;
}
.dark {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color:#383838;
}
.dark_footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color:#383838;
}