TD
{
    PADDING-RIGHT: 0.5cm;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial;
    VERTICAL-ALIGN: text-middle
}
BODY
{
    BACKGROUND-COLOR: white
}
TABLE
{
    spacing: 0px
}
LI
{
    FONT-SIZE: 8pt
}
A
{
    COLOR: black
}
A:hover
{
    COLOR: red
}
INPUT
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial
}
SELECT
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial
}
OPTION
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial
}
.clsMessage
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e6ffcc
}
.clsPageHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #252525;
    FONT-FAMILY: Arial
}
.clsForm
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    MARGIN: 0px;
    BORDER-LEFT: 0px;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: #b2b2b2;
    spacing: 0px
}
.clsTbl
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    MARGIN: 0px;
    BORDER-LEFT: 0px;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: #b2b2b2;
    spacing: 1px
}
.clsTbl
{
    TABLE-LAYOUT: fixed;
    WIDTH: 100%
}
.clsTabList
{
    BORDER-TOP-WIDTH: 1px;
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    BORDER-LEFT-WIDTH: 1px;
    FONT-SIZE: 8pt;
    BORDER-LEFT-COLOR: black;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-BOTTOM-COLOR: black;
    PADDING-BOTTOM: 1px;
    MARGIN-LEFT: 2px;
    CURSOR: hand;
    BORDER-TOP-COLOR: black;
    PADDING-TOP: 1px;
    BACKGROUND-COLOR: #eeeeee;
    TEXT-ALIGN: center;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-RIGHT-COLOR: black
}
.clsTabListOn
{
    BORDER-TOP-WIDTH: 1px;
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    BORDER-LEFT-WIDTH: 1px;
    FONT-SIZE: 8pt;
    BORDER-LEFT-COLOR: black;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-BOTTOM-COLOR: black;
    PADDING-BOTTOM: 1px;
    MARGIN-LEFT: 2px;
    CURSOR: hand;
    COLOR: white;
    BORDER-TOP-COLOR: black;
    PADDING-TOP: 1px;
    BACKGROUND-COLOR: #0b6388;
    TEXT-ALIGN: center;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-RIGHT-COLOR: black
}
.clsInstruction
{
    FONT-SIZE: 8pt;
    COLOR: maroon;
    FONT-FAMILY: Arial
}
.clsInstruction LI
{
    FONT-STYLE: italic
}
.clsScreen
{
    FONT-SIZE: 8pt;
    COLOR: maroon;
    FONT-FAMILY: Arial
}
.clsScreen LI
{
}
.clsSubHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #0b6388
}
.clsMessage
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 1px;
    COLOR: black;
    PADDING-TOP: 1px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e6ffcc
}
.clsOdd
{
    BACKGROUND-COLOR: #e1f7ff
}
.clsEven
{
    BACKGROUND-COLOR: #f2fefe
}
.clsTableSpace
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    MARGIN: 0px;
    PADDING-TOP: 1px;
    BACKGROUND-COLOR: #e1f7ff;
    spacing: 1
}
.clsSearch
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    MARGIN: 0px;
    PADDING-TOP: 1px;
    BACKGROUND-COLOR: #e1f7ff;
    spacing: 1
}
.clsBtnBar
{
    VERTICAL-ALIGN: middle;
    HEIGHT: 50px;
    BACKGROUND-COLOR: #e1f7ff;
    TEXT-ALIGN: right
}
FORM
{
    MARGIN: 0px
}
.clsLink
{
    CURSOR: hand;
    TEXT-DECORATION: underline
}
.clsLabel
{
    FONT-WEIGHT: bold;
    COLOR: #336699
}
.clsValue
{
    FONT-WEIGHT: bold;
    COLOR: #3f3f3f;
    VERTICAL-ALIGN: text-top
}
.clsValueR
{
    FONT-WEIGHT: bold;
    COLOR: #3f3f3f;
    TEXT-ALIGN: right
}
.clsNumeric
{
    TEXT-ALIGN: right
}
.clsLabelM
{
    FONT-WEIGHT: bold
}
.clsMandatory
{
    FONT-WEIGHT: bold
}
.clsRecActBtn
{
    WIDTH: 75px
}
.clsStdBtn
{
    WIDTH: 150px
}
.clsStdBtnSmall
{
    WIDTH: 70px
}
.clsAlert
{
    BORDER-RIGHT: black thin solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black thin solid;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    PADDING-BOTTOM: 5px;
    MARGIN: 5px;
    BORDER-LEFT: black thin solid;
    COLOR: red;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: black thin solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: beige
}
.clsGenHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13pt;
    COLOR: white;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #0b6388
}
.clsPopup
{
    MARGIN: 1mm 2mm;
    BACKGROUND-COLOR: #ffffff
}
.clsRemBox
{
    BORDER-RIGHT: #ffffff thin inset;
    PADDING-RIGHT: 1pt;
    BORDER-TOP: #ffffff thin inset;
    PADDING-LEFT: 1pt;
    PADDING-BOTTOM: 1pt;
    BORDER-LEFT: #ffffff thin inset;
    WIDTH: 100%;
    PADDING-TOP: 1pt;
    BORDER-BOTTOM: #ffffff thin inset;
    HEIGHT: 100pt;
    BACKGROUND-COLOR: window
}
.clsHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #0b6388
}
.clsHeader TD
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #0b6388
}
.clsFullWidth
{
    WIDTH: 100%
}
#idFooter
{
    FONT-SIZE: 8pt;
    FONT-STYLE: italic
}
.clsMsg
{
    BORDER-RIGHT: black solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black solid;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11pt;
    PADDING-BOTTOM: 5px;
    MARGIN: 5px;
    BORDER-LEFT: black solid;
    COLOR: red;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: black solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: beige
}
.clsLinkSelected
{
    COLOR: white;
    TEXT-DECORATION: none
}
.clsLink
{
    TEXT-DECORATION: none
}
.clsStdBtnBold
{
    FONT-WEIGHT: bold;
    WIDTH: 150px
}
.clsStdBtnSmallBold
{
    FONT-WEIGHT: bold;
    WIDTH: 70px
}
.style
{
	color: #000000;
}
.font
{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}
.loginbox
{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #339933;
	height: 22px;
	width: 60px;
}